<!-- Header Area -->
<app-header></app-header>
<!-- End Header Area -->

<!-- Slider Area -->
<app-hero-section></app-hero-section>
<!--/ End Slider Area -->

<!-- Start Schedule Area -->
<app-scedule-section></app-scedule-section>
<!--/End Start schedule Area -->

<!-- Start Feautes -->
<app-start-section></app-start-section>
<!--/ End Feautes -->

<!-- Start Fun-facts -->
<app-start-fun-facts-section></app-start-fun-facts-section>
<!--/ End Fun-facts -->

<!-- Start Why choose -->
<app-why-choose-us-section></app-why-choose-us-section>
<!--/ End Why choose -->

<!-- Start Call to action -->
<app-call-to-action-section></app-call-to-action-section>
<!--/ End Call to action -->

<!-- Start service -->
<app-service-section></app-service-section>
<!--/ End service -->

<!-- Pricing Table -->
<app-pricing-table-section></app-pricing-table-section>
<!--/ End Pricing Table -->

<!-- Start Blog Area -->
<app-blog-section></app-blog-section>
<!-- End Blog Area -->

<!-- Start Appointment -->
<app-contact-us-section></app-contact-us-section>
<!-- End Appointment -->

<!-- Start Newsletter Area -->
<app-news-letter-section></app-news-letter-section>
<!-- /End Newsletter Area -->

<!-- Footer Area -->
<app-footer></app-footer>
